<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <!-- Project Menu Items -->
    <menuitem id="menu_visa_project"
              name="Projects"
              parent="visa_management.menu_visa_root"
              sequence="25"/>

    <menuitem id="menu_visa_tasks"
              name="Tasks"
              parent="menu_visa_project"
              action="project.action_view_task"
              sequence="1"/>

    <menuitem id="menu_visa_projects"
              name="Projects"
              parent="menu_visa_project"
              action="project.open_view_project_all"
              sequence="2"/>
</odoo> 