<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <!-- Survey Menu Items -->
    <menuitem id="menu_visa_survey"
              name="Checklists"
              parent="visa_management.menu_visa_root"
              sequence="45"/>

    <menuitem id="menu_visa_survey_templates"
              name="Checklist Templates"
              parent="menu_visa_survey"
              action="action_visa_survey_templates"
              sequence="1"/>

    <menuitem id="menu_visa_survey_responses"
              name="Checklist Responses"
              parent="menu_visa_survey"
              action="survey.action_survey_user_input"
              sequence="2"/>
</odoo> 