# Python
*.py[cod]
__pycache__/
*.so
*.egg
*.egg-info
dist/
build/
eggs/
parts/
bin/
var/
sdist/
develop-eggs/
.installed.cfg
lib/
lib64/

# IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Odoo
*.pot
*.pyc
*.pyo
.settings/
.project
.pydevproject
.directory
*.mo
*.log 